        * {
            box-sizing: border-box;
            font-family: 'BenchNine';
        }
        
        body,
        html {
            overflow: hidden;
        }
        
        body {
            font-family: Verdana, sans-serif;
            margin: 0;
        }
        
        #recherche {
            padding: 0px;
            border: 1px solid #bbb;
            align-items: center;
        }
        
        .nav {
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 4em;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
        
        .nav a {
            color: #fff;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }
        
        .nav a:hover {
            color: #f74a06;
            text-decoration: none;
        }
        
        .nav .logo {
            color: inherit;
            font-size: 1.4em;
            z-index: 2;
        }
        
        .nav .logo:hover {
            color: inherit;
        }
        
        .nav .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            max-width: 1000px;
            padding: 1em;
        }
        
        .nav .navbar {
            display: flex;
            align-items: center;
            list-style-type: none;
        }
        
        .nav .navbar-item {
            padding: 0 1em;
            margin-top: 1em;
        }
        
        .nav .navbar-item:last-of-type {
            padding: 0 0 0 1em;
        }
        
        .nav .navbar-toggle {
            display: none;
        }
        
        img {
            vertical-align: middle;
        }
        
        .carousel-container {
            position: relative;
            width: 100%;
            max-width: 600px;
            margin: auto;
            background-color: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
        }
        
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        .prev:hover,
        .next:hover {
            background-color: #000000cc;
        }
        
        .text {
            position: relative;
            flex: 20%;
            color: rgb(47, 32, 32);
            font-size: 1em;
            width: 100%;
            margin: auto;
            text-align: center;
        }
        
        .numbertext {
            color: #bbb;
            font-size: 0.8em;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: color 0.6s ease;
        }
        
        .active,
        .dot:hover {
            background-color: #717171;
        }
        
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        .footer {
            width: 100%;
            position: fixed;
            font-size: 1em;
            text-align: center;
            background: linear-gradient(rgba(255, 81, 1, 0.8), rgba(34, 3, 36, 0.902));
            border: none;
            color: #000;
        }
        
        .form-container {
            padding: 1px;
            max-width: 400px;
            max-height: 600px;
            margin: auto;
            align-items: center;
        }
        
        label {
            display: block;
            margin: 1px;
            padding: 1px;
        }
        
        input:invalid {
            border: 2px solid #f44336;
        }
        
        input:valid {
            border: 2px solid #41ad44;
        }
        
        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            background: #f1f1f1;
        }
        
        input[type=email]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
        
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
        
        button {
            background-color: #41ad44;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        
        button:hover {
            opacity: 1;
        }
        
        .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
        }
        
        .cancelbtn,
        .signupbtn {
            float: left;
            width: 50%;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        
        td {
            text-align: left;
            border: 1px solid black;
            padding: 20px;
        }
        
        th {
            background-color: #553958;
        }
        
        tr:nth-child(even) {
            background-color: #76677a;
        }
        
        tr:nth-child(odd) {
            background-color: #E8EBF5;
        }
        
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @media only screen and (max-width: 300px) {
            .prev,
            .next,
            .text {
                font-size: 11px
            }
            .cancelbtn,
            .signupbtn {
                width: 80%;
            }
        }
        
        @media screen and (max-width: 700px) {
            .nav .navbar {
                background-color: #000;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                padding-top: 4em;
                padding-bottom: 1em;
                flex-direction: column;
                transform: scale(1, 0);
                transform-origin: top;
                transition: transform 0.5s ease-in-out;
            }
            .nav .navbar-item {
                margin: 1em;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                transition-delay: 0ms;
            }
            .nav .navbar-item:last-of-type {
                padding: 0 1em;
            }
            .nav .hamburger {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 1em;
                height: 100%;
                width: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                transition: all 0.2s ease-in-out;
            }
            .nav .hamburger .line,
            .nav .hamburger .hamburger-icon::after,
            .nav .hamburger .hamburger-icon::before,
            .nav .hamburger .hamburger-icon {
                content: "";
                display: block;
                background-color: #fff;
                width: 100%;
                height: 2px;
                transition: transform 0.2s ease-in-out;
            }
            .nav .hamburger-icon {
                position: relative;
            }
            .nav .hamburger-icon::before {
                position: absolute;
                bottom: 0.5em;
            }
            .nav .hamburger-icon::after {
                position: absolute;
                top: 0.5em;
            }
            .nav .navbar-toggle:checked~.navbar {
                transform: scale(1, 1);
            }
            .nav .navbar-toggle:checked~.navbar .navbar-item {
                opacity: 1;
                transition-delay: 0.2s;
            }
            .nav .navbar-toggle:checked~.hamburger {
                transform: rotate(45deg);
            }
            .nav .navbar-toggle:checked~.hamburger .hamburger-icon::before,
            .nav .navbar-toggle:checked~.hamburger .hamburger-icon::after {
                transform: rotate(90deg) scale(0.5, 1);
            }
            #recherche {
                position: relative;
            }
            footer {
                position: relative;
            }
        }